{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ post.header|truncatewords:2 }}
{% endblock title %}

{% block content %}
<h5>Время создания новости: {{ post.time|date:'D d.m.y H:i:s'}}</h5>
<h3>{{ post.header }}</h3>
<hr>
<h5>{{ post.text|censor }}</h5>
<hr>
<h5>Категории: {% for cat in post.category.all %} {{ cat.name }} {% endfor %} </h5>
<h5>Рейтинг: {{ post.rating_post }}</h5>
<h5>Автор: {{ post.author_post }} (рейтинг автора: {{ post.author_post.rating }})</h5>
<hr>
<h5><a href='{% url "edit" post.id %}'> Редактировать </a></h5>
<h5><a href='{% url "delete" post.id %}'> Удалить </a></h5>
{% endblock content %}

